{% extends 'Handyman/base.html' %} {% block content %} {% load static %}

<div class="container-fluid ml-lg-2">
    <div class="row">
        <div class="col col-lg-4" style="background-color: blue; color: white;">
            <h3 class="text-center mt-2">
                <b>
                Login to your account
                </b>
            </h3>
            <hr>
            <form action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label><b>Email</b></label>
                    <input type="email" name="email" value="{{ values.email }}" class="form-control">
                    <small><b>We donot share your email with anyone.</b></small>
                </div>
                <div class="form-group">
                    <label><b>Password</b></label>
                    <input type="password" name="password" class="form-control">
                </div>
                {% if error_message %} <b class="ml-lg-5">{{error_message}}</b> {% endif %}
                <input type="submit" class="btn btn-success btn-block mt-lg-5" value="LogIn">
            </form>
            <i>Don't have an account ? Click here to <a href="{% url 'register' %}" style="color: black;">register</a></i>
        </div>
        <div class="col col-lg-8">
            <img src="{% static 'Handyman/images/login_banner.jpg' %}" width="840" height="400">
        </div>
    </div>
</div>

{% endblock %}